* {
	/* Reset browsers default margin, padding and font sizes */
	margin: 0;
}
/* Pagination
---------------------------------------- */
.pagination {
	height: 1%; /* IE tweak (holly hack) */
	width: auto;
	text-align: right;
	margin-top: 5px;
	float: right;
}

.pagination span.page-sep {
	display: none;
}

li.pagination {
	margin-top: 0;
}

.pagination strong, .pagination b {
	font-weight: normal;
}

.pagination span strong {
	padding: 0 2px;
	margin: 0 2px;
	font-weight: normal;
	color: #FFFFFF;
	background-color:#000099;
	font-size: 0.9em;
}

.pagination span a, .pagination span a:link, .pagination span a:visited, .pagination span a:active {
	font-weight: normal;
	text-decoration: none;
	color: #747474;
	margin: 0 2px;
	padding: 0 2px;
	background-color: #0000FF;
	border: 1px solid #000000;
	font-size: 0.9em;
	line-height: 1.5em;
}

.pagination span a:hover {
	border-color: #d2d2d2;
    background-color:#000099;
	color: #FFF;
	text-decoration: none;
}

.pagination img {
	vertical-align: middle;
}

/* Pagination in viewforum for multipage topics */
.row .pagination {
	display: block;
	float: right;
	width: auto;
	margin-top: 0;
	padding: 1px 0 1px 15px;
	font-size: 0.9em;
	background: none 0 50% no-repeat;
}

.row .pagination span a, li.pagination span a {
    background-color:#0000FF
}

.row .pagination span a:hover, li.pagination span a:hover {
    background-color:#000099;
}

.casino,.casino a{
color:#000000;
}
font.casinotext{
color:#000000;
}
.poll{
font-size:10px;}
html {
	font-size: 100%;
}
.shoutbox{
  font-size:10px;
  margin-right: 5px;
  display: block;
  float: left;
  width: 100%;
  height: 300px;
  overflow:auto;
    }
.shout_time {
  color:#FF0000;
}
#shout_textarea{
  border: 2px solid  #004B73;
  clear: right;
  width: 100%;
  height: 30px;
}

.shoutbox_bold{
  font-weight: bold;
}
.topbuttons { 
  background-image: url('./pics/top_bg.gif'); 
}
.logobackground {	
  background-image: url('./pics/back2.png'); 
}
body {
	/* Text-Sizing with ems: http://www.clagnut.com/blog/348/ */
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	color: #FFF;
	background: #242424 url(pics/body.gif)!important;
	font-size: 80px;
	margin: 0;
	padding: 0 5px;
}
div.od{
background-color:#191919;
}
div.even{
background-color:#242424;
}
div.over{
background-color:#2C2C2C;
}

.highlight {
font-size : 10px;
font-weight : bold;
color : #0000cc;
}
.bubble {
width : 578px;
clear : both;
margin : 20px auto 40px;
}
.bubble-top {
height : 10px;
background : url(pics/bubble-top.png);
}
.bubble-bg {
font-size : 10px;
font-family : Courier;
padding : 10px 20px;
background : url(pics/bubble-bg.png);
}
span.bubble-date {
position : relative;
color : #989898;
padding : 0;
top : 10px;
font-size : 6pt;
}
.bubble-bottom-right {
height : 19px;
padding-right : 10px;
margin-bottom : 5px;
background : url(pics/bubble-bottom-right.png);
background-repeat : no-repeat;
text-align : right;
}
.bubble-bottom-left {
height : 19px;
padding-left : 10px;
margin-bottom : 5px;
background : url(pics/bubble-bottom-left.png);
background-repeat : no-repeat;
text-align : left;
}
.bubble_sub-left {
text-align : center;
margin-right : 318px;
}
.bubble_sub-right {
text-align : center;
margin-left : 318px;
}
#pmbtwrap {
width : 1200px;
margin : 10px auto;
/*margin:'margin-top' 'margin-right' 'margin-bottom' 'margin-left'*/
text-align : left;
}
div.mainbox {
    width: 100%;
	background-color:#cccccc;
	font-size: 8pt; 
	/*font-weight:bold;*/
	
	color: #1C1C1C;
	/* background-image:url(/img/bg.jpg); */
	border:1px solid #999;
	padding:1em;
	margin-left: 1em;
	margin-right: 0.5em;
	margin-bottom: 1.5em;
	-moz-border-radius:8px;}
.caption { 
	margin: 0; 
	padding: 0;
	background: url(pics/menu-bar.png) top left repeat-x;
	white-space: nowrap;
	height: 27px;
	text-align: center;
}
div.caption { 
	margin: 0; 
	padding: 0;
	background: url(pics/menu-bar.png) top left repeat-x;
	white-space: nowrap;
	height: 27px;
	text-align: center;
}
.tabletitle {
 background-image: url('./pics/cell.gif');
 text-decoration: none;
 font-weight: bold;
}
.tableb {
background-image:url('./pics/cell.gif');
color:#cccccc;
font-size:10px;
line-height:135%;
margin:2px 0pt 0pt;
}
.tablebg {
	border: solid 1px #000;
	background: #313131 url(pics/cell.gif) top left repeat-x;
}
.cap-left {
	background: url(pics/button.png) top left no-repeat;
}
.cap-right {
    font-size : 10pt;
    color : #ffffff;
	background: url(pics/button.png) top right no-repeat;
	padding-top: 8px;
	height: 19px;
}
.row1, .row2, .row3, .legend, .forumrules, tr.row1 .row, tr.row2 .row, tr.row3 .row, .postbottom , td.topbuttons{
	border-left: solid 2px #004B73;
	border-right: solid 2px #004B73;
	border-top: solid 2px #3C3C3C;
	border-bottom: solid 2px #131313;
	background: #313131 url(pics/cell.gif) top left repeat-x;
	padding: 2px;
}

.cat {
	height: 10px;
	padding: 0 3px;
	border-left: solid 1px #004B73;
	border-right: solid 1px #004B73;
	background: #2C2C2C url(pics/cathead.gif) top left repeat-x;
	text-indent: 4px;
}
#mainbox {
background-color : #cccccc;
font-size : 6pt;
color : #1c1c1c;
border : 1px solid #999;
padding : 1em;
margin-left : 1em;
margin-right : 0.5em;
margin-bottom : 1.5em;
}
#messagebox {
font-family : sans-serif;
background-color : #313131;
text-align : center;
font-size : 10pt;
padding : 5px 15px 20px 100px;
color : #1c1c1c;
background-image : url(pics/alert.png);
background-position : 30px center;
background-repeat : no-repeat;
min-height : 70px;
border : 1px solid #999;
margin-left : 0.5em;
margin-right : 0.5em;
margin-bottom : 1.5em;
}
#successbox {
font-family : sans-serif;
background-color : #313131;
text-align : center;
font-size : 10pt;
padding : 5px 15px 20px 100px;
color : #1c1c1c;
background-image : url(pics/success.png);
background-position : 30px center;
background-repeat : no-repeat;
min-height : 70px;
border : 1px solid #999;
margin-left : 0.5em;
margin-right : 0.5em;
margin-bottom : 1.5em;
}
#errorbox {
font-family : sans-serif;
background-color : #313131;
font-size : 10pt;
text-align : center;
padding : 5px 50px 20px 50px;
color : #1c1c1c;
background-image : url(pics/error.png);
background-position : 30px center;
background-repeat : no-repeat;
min-height:70px;
border : 1px solid #980000;
margin-left : 1em;
margin-right : 0.5em;
margin-bottom : 1.5em;
}
#newsbox {
font-family : sans-serif;
background-color : #313131;
text-align : center;
font-size : 10pt;
padding : 4px 0 0 80px;
color : #757576;
background-image : url(pics/alert_mini.png);
background-position : 80px center;
background-repeat : no-repeat;
border : 1px solid #999;
min-height : 26px;
margin-left : 0.5em;
margin-right : 0.5em;
margin-bottom : 1.5em;
}
#emailbox {
font-family : sans-serif;
background-color : #313131;
text-align : center;
font-size : 10pt;
padding : 4px 0 0 80px;
color : #757576;
background-image : url(pics/email.png);
background-position : 80px center;
background-repeat : no-repeat;
border : 1px solid #999;
min-height : 26px;
margin-left : 0.5em;
margin-right : 0.5em;
margin-bottom : 1.5em;
}
#theme-header {
height : 20px;
clear : both;
background : url(pics/topblue.png) repeat-y 0 0;
}
#theme-body {
background : url(pics/bodybgblue.png) repeat-y 0 0;
padding-right : 0;
padding-left : 0;
}
#theme-footer {
height : 20px;
background : url(pics/bottomblue.png) repeat-y 0 0;
}
#leftcolumn {
width : 100%;
float : left;
margin-left : 5px;
padding-right : 0;
}
#centercolumn {
width: 100%;
/*float : right;*/
padding-left : 0;
padding-right : 0;
}
#rightcolumn {
width : 100%;
float : left;
margin-right : 5px;
padding-right : 0;
}
#donationbar-background {
position : relative;
bottom : 1px;
right : 1px;
background : url(pics/donations_bg.png);
background-repeat : no-repeat;
height : 18px;
width : 188px;
}
#searchcloud {
color : #980000;
}
#searchcloud a:link {
text-decoration : none;
}
.smallest {
font-size : 1em;
color : #580000;
}
.small {
font-size : 1.5em;
color : #680000;
}
.medium {
font-size : 2em;
color : #780000;
}
.large {
font-size : 2.5em;
color : #880000;
}
.largest {
font-size : 3em;
color : #980000;
}
span.donationsin {
font-family : sans-serif;
font-size : 10pt;
color : #265514;
position : relative;
float : left;
right : 5px;
bottom : 25px;
}
span.donationsgoal {
position : absolute;
float : right;
right : 17px;
top : 2px;
font-weight : bold;
font-size : 8pt;
color : #555556;
}
span.donationsthanks {
position : absolute;
right : 75px;
font-weight : bold;
font-size : 8pt;
color : #cccccc;
}
span.mainbox-title {
text-align : center;
display : block;
margin : 0 auto 10px;
font-weight : bold;

font-size : 8pt;
color : #980000;
}
span.messagebox-title {
text-align : center;
display : block;
margin : 0 auto 10px;
font-weight : bold;
font-size : 8pt;
color : #980000;
}
span.successbox-title {
text-align : center;
display : block;
margin : 5px auto 10px;
font-weight : bold;
font-size : 8pt;
color : #980000;
}
span.errorbox-title {
text-align : center;
display : block;
margin : 5px auto 10px;
font-weight : bold;
font-size : 8pt;
color : #980000;
}
form {
color : #808080;
font-weight : bold;
margin-top : 5px;
margin-bottom : 5px;
}
font.small {
font-size : 8pt;
color : #000000;
}
p {
    font-size : 12px;

    color : #ffffff;
}
p.footer {
font-size : 8pt;
color : #000000;
text-align : center;
}
p.title {
font-size : 8pt;
font-variant : small-caps;
}
p.description {
font-size : 8pt;
font-weight : normal;
line-height : 120%;
}
p.nfo {
background-color:#999999;
font-family : OCR A Extended;
font-size : 8pt;
color:#cccccc;
text-align : justify;
width: 700px;
height: 300px;
overflow:auto;
}
p.file {
font-size : 8pt;
line-height : 120%;
color : #757576;
}
p.nfo {
font-family : OCR A Extended;
font-size : 8pt;
color : #000000;
text-align : justify;
}
p.errortext {
text-align : left;
display : block;
font-size : 10pt;
text-align : center;
}
p.whitelist {
color : #00ff00;
}
p.blacklist {
color : #ff0000;
}
p.granted {
color : #00ff00;
}
p.denied {
color : #ff0000;
}
p.extrasmall {
font-size : 6pt;
}
span.h2lookalike {
font-size : 10pt;
color : #757576;
}
h1 {
font-size : 10pt;
color : #000000;
}
h1.title {
text-align : center;
}
h1.details {
font-size : 10pt;
text-align : center;
font-weight : normal;
color : #1c1c1c;
margin : 5px;
}
h1.search {
font-size : 10pt;
color : #757576;
text-align : center;
font-weight : bold;
}
h2 {
font-size : 10pt;
color : #757576;
}
h2.title {
text-align : center;
}
h2.details {
text-align : center;
font-family : sans-serif;
font-size : 10pt;
font-weight : bold;
color : #555556;
margin : 0;
}
h3 {
font-size : 10pt;
color : #000000;
}
.details, table.details, td.details{
  display: block;
max-width:650px;
overflow:auto;
}
h3.title {
text-align : center;
}
hr {
background-color:#0000FF;
color : #0000FF;
border : #999;
height : 1px;
}
iframe {
border : none;
}
img {
border : 0;
}
font.large {
font-size : 8pt;
color : #000000;
}
font.heading {
font-size : 10pt;
color : #000000;
font-weight : bold;
}
span.admin {
font-size : 8pt;
font-weight : bold;
color : #aa0000;
text-decoration : none;
}
span.moderator {
font-size : 8pt;
font-weight : bold;
color : #53b54f;
text-decoration : none;
}
span.premium {
font-size : 8pt;
font-weight : bold;
color : #cecc46;
text-decoration : none;
}
span.user {
font-size : 8pt;
font-weight : bold;
color:#CCCCCC;
text-decoration : none;
}
table.main {
background-color : #2C2C2C;
}
table.bg {
background-color : #093656;
}
table.sub {
background-color : #000000;
}
table.theme {
background-color : #f2f2f2;
}
table.content {
border : 1px solid #000000;
background-color : #f7f7f7;
text-align : center;
}
table.torrent {
width: 100%;
border-style : solid;
border-width : 0;
padding : 0;
background-color : #ececec;
text-align : center;
font-family : sans-serif;
font-size : 8pt;

color : #000000;
}
table.torrenttable {
border-collapse : collapse;
}
table.torrenttable td {
border-right : 1px solid #004B73;
}
td {
font-size : 8pt;
vertical-align:top;
}
td.track {
background-color : #000000;
font-size : 6pt;
color : #000000;
}
td.smaller {
font-size : 6pt;
padding : 3px;
}
td.smallish {
font-size : 8pt;
padding : 3px;
}
td.header {
background-color : #cccccc;
font-size : 6pt;
font-weight : bold;
color : #000000;
}
td.headerbg {
background : url(pics/headerbg.png);
}
td.theme {
background-color : #f2f2f2;
}
td.themeupperedge {
background : url(pics/themeupperedge.gif);
}
td.themeleftedge {
background : url(pics/themeleftedge.gif);
}
td.themerightedge {
background : url(pics/themerightedge.gif);
}
td.themeloweredge {
background : url(pics/themeloweredge.gif);
}
td.title {
background : url(pics/upperedge.gif);
background-repeat : repeat-x;
font-size : 8pt;
font-weight : bold;
color : #980000;
vertical-align : top;
}
td.errortitle {
background : url(pics/upperedge.gif);
font-size : 8pt;
font-weight : bold;
color : #eeab36;
}
td.footer {
background : url(pics/loweredge.gif);
}
td.leftedge {
background : url(pics/leftedge.gif);
}
td.rightedge {
background : url(pics/rightedge.gif);
}
td.small {
font-size : 7pt;
color : #cccccc;
}
td.colhead {
	background: #313131 url(pics/cell.gif) top left repeat-x;
font-size : 8pt;
color : #FFFFFF;
font-weight : bold;
}
tr.peerattrs {
vertical-align : bottom;
}
tr.theme {
background-color : #f2f2f2;
}
tr.darkrow {
background-color : #191919;
}
tr.brightrow {
background-color : #242424;
}
tr.mouseover {
background-color : #e1e1e1;
}
input, select, textarea, file, browse {
	font-weight: normal;
	font-family: "Lucida Grande", Verdana, Helvetica, sans-serif;
	color: #D0D0D0;
	
	
	border: 1px solid  #004B73;
	/*border: 1px solid #2370B6;*/
	background-color: #222;
}
textarea {
	background-color: #5e657f;
    overflow : auto;
}
.button {
border-style : solid;
border-width : 1px;
font-family : sans-serif;
font-size : 8pt;
color : #000000;
text-align : center;
background-color : #c0c0c0;
}
.form {
border-style : solid;
border-width : 1px;
font-family : sans-serif;
font-size : 6pt;
color : #000000;
text-align : center;
background-color : #000000;
}
table.poll {
width:100%;
color:#0000FF;
font-weight:bold;
font-family : sans-serif;
font-size : 12pt;
}
p.poll{
width:100%;
color:#CCCCCC;
font-weight:bold;
font-family : sans-serif;
font-size : 12pt;
}
p.poll_q{
width:100%;
color:#CCCCCC;
font-weight:bold;
font-family : sans-serif;
font-size : 15pt;
text-align:center;
}
tr.poll{
width:100%;
color:#CCCCCC;
font-weight:bold;
font-family : sans-serif;
font-size : 12pt;
}
td.poll{
width:100%;
color:#CCCCCC;
font-weight:bold;
font-family : sans-serif;
font-size : 12pt;
}
.btn {
border-style : solid;
border-width : 1px;
font-family : sans-serif;
font-size : 8pt;
color : #000000;
text-align : center;
background-color : #c0c0c0;
}
.hide {
display : none;
}
a:active,
a:visited {
	color: #ffffff;
	text-decoration: none;
}

a:hover {
	color: #409AF5;
	text-decoration: underline;
}
a {
	color: #ffffff;
	text-decoration: none;
}
a.header:active {
color : red;
text-decoration : none;
}
a.header:visited {
color : red;
text-decoration : none;
}
a.header:hover {
color : #409AF5;
text-decoration : underline;
}
a.header:link {
color : red;
text-decoration : none;
}
a.pager {
font-size : 10pt;
text-decoration : none;
padding : 0 2px;
border : 1px solid #bababa;
}
a.pager:active {
font-size : 10pt;
}
a.pager:hover {
font-size : 10pt;
}
a.header:hover {
color : #000000;
text-decoration : underline;
}
a.gray {
color : #808080;
}
a.cross:hover {
border-width : 0;
}
a.cross:link {
border-width : 0;
}
a.admin {
color : #aa0000;
font-weight : bold;
text-decoration : none;
}
a.moderator {
color : #53b54f;
font-weight : bold;
text-decoration : none;
}
a.premium {
color : #cecc46;
font-weight : bold;
text-decoration : none;
}
a.user {
color:#CCCCCC;
font-weight : bold;
text-decoration : none;
}
a.smaller-bold {
font-family : sans-serif;
font-size : 6pt;
font-weight : bold;
color : #757576;
}
a.middle-bold {
font-family : sans-serif;
font-size : 8pt;
font-weight : bold;
color : #757576;
}
a.middle-bold:hover {
color : #980000;
}
#contentrow {
	padding: 2px;
	background-color: #191919;
}
#wrapfooter {
	text-align: center;
	color: #CCC;
	padding-top: 10px;
	font-size:9px;
}
.gensmall {
	margin: 1px 1px;
	font-size: 1em;
}
.copyright {
	color: #888;
	font-weight: normal;
	font-size: 8px;
	line-height: 1.0em;
}
.copyright a, .copyright a:visited {
	color: #AAA;
	text-decoration: underline;
}
.copyright a:hover { color: #FFF; }
#maintable {
	border-style: solid;
	border-width: 0 1px 1px 1px;
	border-color: #000!important;
	margin: 0 auto;
}
.navrow {
	background: #3B83C6 url(pics/menu-bar.png) top left repeat-x; 
	height: 25px;
	overflow: hidden;
	border-left: solid 1px #004B73;
	border-right: solid 1px #004B73;
	color: #004B73;
	text-align: center;
	font-size: 10px;
	padding: 4px;
}
* html .navrow { padding: 0; }
.navrow b, .navrow strong { font-weight: normal; }
.navrow a, .navrow a:visited {
	color: #CCC;
	text-decoration: none;
}
.navrow a:hover { 
	color: #409AF5; 
	text-decoration: underline; 
}
#logorow {
	background: url(pics/logo_bg.gif) top left repeat-x;
	text-align: center;
	border-bottom : solid 1px #000000;
	border-top: solid 2px #000000;
	border-left: solid 1px #004B73;
	border-right: solid 1px #004B73;
	padding: 0;
	width:100%;
}

#logo-left {
	background: url(pics/evoblue-1.jpg) top left no-repeat;
	border-left: solid 1px #000000;
	border-right: solid 1px #000000;
	width:100%;
}
#logo-right {
	background: url(pics/glass-name.jpg) top right no-repeat;
	border-left: solid 1px #000000;
	border-right: solid 1px #000000;
}

#logorow, #logo-left {
	width:100%;
	height: 100px;
	overflow: hidden;
	border-left: solid 1px #004B73;
	border-right: solid 1px #004B73;
}
#navcontainer {
    margin : 20px 10px;
    border-left: solid 1px #409AF5;
	border-right: solid 1px #409AF5;
}
#navlist {
padding : 3px 0;
margin-left : 0;
border-bottom : 1px solid #409AF5;
font : bold 12px sans-serif, sans-serif;
}
#navlist li {
list-style : none;
margin : 0;
display : inline;
}
#navlist li a {
padding : 3px 0.5em;
margin-left : 3px;
border : 1px solid #778;
border-bottom : none;
background : #d2d2d2;
text-decoration : none;
}
#navlist li a:link {
color : #667;
}
#navlist li a:visited {
color : #667;
}
#navlist li a:hover {
color : #fff;
background : #990100;
border-color : #227;
}
#navlist li a#current {
color : #990100;
background : #f2f2f2;
border-bottom : 1px solid #f2f2f2;
}
#navlistsmall {
padding : 3px 0;
margin-left : 0;
border-bottom : 1px solid #e2e2e2;
font : bold 10px sans-serif, sans-serif;
}
#navlistsmall li {
list-style : none;
margin : 0;
display : inline;
}
#navlistsmall li a {
padding : 3px 0.5em;
margin-left : 0;
border : 1px solid #e2e2e2;
border-bottom : none;
background : #fbfbfb;
text-decoration : none;
}
#navlistsmall li a:link {
color : #667;
}
#navlistsmall li a:visited {
color : #667;
}
#navlistsmall li a:hover {
color : #555556;
background : #ededed;
border-color : #d9d9d9;
}
#navlistsmall li a#current_small {
color : #990100;
background : #cccccc;
border-bottom : 1px solid #cccccc;
}
.tabberlive .tabbertabhide {
display : none;
}
.tabberlive {
margin-top : 1em;
}
ul.tabbernav {
margin : 0;
padding : 3px 0;
border-bottom : 1px solid #e2e2e2;
font-size : 8pt;
}
ul.tabbernav li {
list-style : none;
margin : 0;
display : inline;
}
ul.tabbernav li a {
padding : 3px 0.5em;
margin-left : 3px;
border : 1px solid #e2e2e2;
border-bottom : none;
background : #fbfbfb;
text-decoration : none;
}
ul.tabbernav li a:link {
color : #667;
}
ul.tabbernav li a:visited {
color : #667;
}
ul.tabbernav li a:hover {
color : #990100;
background : #ededed;
border-color : #e2e2e2;
}
ul.tabbernav li.tabberactive a {
color : #990100;
background-color : #fff;
border-bottom : 1px solid #fff;
}
ul.tabbernav li.tabberactive a:hover {
color : #990100;
background : white;
border-bottom : 1px solid white;
}
.tabberlive .tabbertab {
padding : 15px;
border : 1px solid #e2e2e2;
border-top : 0;
}
.tabberlive .tabbertab h2 {
display : none;
}
.tabberlive .tabbertab h3 {
display : none;
}
.tabberlive#tab2 .tabbertab {
height : 200px;
overflow : auto;
}
ul.story {
margin : 0 50px;
font-size : 10pt;
padding : 0;
display : inline-block;
list-style-type : none;
}
ul.story li {
display : inline-block;
overflow : hidden;
padding-top : 0.8em;
}
ul.story p {
margin-bottom : 20px;
font-size : 10pt;
}
.storyimage {
margin : 5px 10px 0 50px;
float : right;
}
.headlines h3 {
margin : 0;
padding-top : 1em;
}
#right-text div.headlines h3 {
padding-top : 0.4em;
}
ul.headlines {
font-size : 8pt;
margin-top : 0;
padding-left : 0.75em;
margin-left : 0.75em;
margin-bottom : 20px;
}
ul.headlines li {
margin-top : 0.2em;
} 