<!-- INCLUDE themes/eVo_blue/templates/over_all_header.html -->
<!-- INCLUDE themes/eVo_blue/templates/over_all_left.html -->
<table class="tablebg" width="100%" cellspacing="0">
<tr><td>
<div class="caption">
<div class="cap-left">
<div class="cap-right">
<a class="c4" style="cursor: pointer;float:left;" onclick="toggle2('nnARCADE');"><img title="Expand item" id="nnARCADEimg" src="themes/eVo_blue/pics/minus.gif"  alt="+"></a>ARCADE

</div>
</div>
</div>
</td></tr><tr valign="middle">
<td  class="row3" ><div id="nnARCADE">
<table align=center width=100% border=2 cellspacing=0 cellpadding=10>
<div align=center>
<p>
<h3>
<b>P2P-Evolution Flash Arcade</b>
</h3>
</p>
<hr>
<tr>
<!-- BEGIN games_var -->
<td align=center><a href=flash.php?gameURI={games_var.FILE}&amp;gamename=Asteroids&amp;gameid={games_var.ID}><img src="flash/{games_var.IMAGE}"></img><p><b>Play {games_var.NAME}</b></p></a></td>
<!-- END games_var -->
</tr>
</tr>
</div>
</table>
<p><center><a href=flashscores.php><h3>View Highscores</h3></a></center></p>
<p><center><a href=flashscores2.php><h3>View Highscores stats</h3></a></center></p>
</div>
</td></tr>
<tr>
<td class="cat" colspan="7" valign="middle" align="center"></td>
</tr>
</table>
<br clear="all" >
<!-- INCLUDE themes/eVo_blue/templates/over_all_right.html -->
<!-- INCLUDE themes/eVo_blue/templates/over_all_footer.html -->