<!-- INCLUDE themes/eVo_blue/templates/over_all_header.html -->
<!-- INCLUDE themes/eVo_blue/templates/over_all_left.html -->
<table class="tablebg" width="100%" cellspacing="0">
<tbody><tr><td>
<div class="caption">
<div class="cap-left">
<div class="cap-right">
<a class="c4" style="cursor: pointer; float: left;" onclick="toggle2('nnEdit_Post');"><img title="Expand item" id="nnEdit_Postimg" src="themes/eVo_blue/pics/minus.gif" alt="+"></a>Edit comment to "{T_NAME}"
</div>
</div>
</div>
</td></tr><tr valign="middle">
<td class="row3"><div id="nnEdit_Post">
<form name="Form" method="post" action="comment.php?op=edit_coment&id={T_ID}&cid={C_ID}&take=1">
<input name="returnto" value="" type="hidden">
<center><table border="0" cellpadding="5" cellspacing="0">
<tbody><tr><td>
<center><table border="0" cellpadding="0" cellspacing="0"><tbody><tr><td><p> <img src="smiles/icon_smile.gif" onclick="comment_smile(':)',Form.body);" alt="Smile" border="0">

 <img src="smiles/icon_sad.gif" onclick="comment_smile(':(',Form.body);" alt="Sad" border="0">
 <img src="smiles/icon_biggrin.gif" onclick="comment_smile(':D',Form.body);" alt="Very Happy" border="0">
 <img src="smiles/icon_wink.gif" onclick="comment_smile(';-)',Form.body);" alt="Wink" border="0">
 <img src="smiles/icon_surprised.gif" onclick="comment_smile(':o',Form.body);" alt="Surprised" border="0">
 <img src="smiles/icon_mad.gif" onclick="comment_smile(':x',Form.body);" alt="Mad" border="0">
 <img src="smiles/icon_eek.gif" onclick="comment_smile('8O',Form.body);" alt="Shocked" border="0">
 <img src="smiles/icon_confused.gif" onclick="comment_smile(':?',Form.body);" alt="Confused" border="0">
 <img src="smiles/icon_cool.gif" onclick="comment_smile('8)',Form.body);" alt="Cool" border="0">
 <img src="smiles/icon_lol.gif" onclick="comment_smile(':lol:',Form.body);" alt="Laughing" border="0">

 <img src="smiles/icon_razz.gif" onclick="comment_smile(':P',Form.body);" alt="Razz" border="0">
 <img src="smiles/icon_redface.gif" onclick="comment_smile(':oops:',Form.body);" alt="Embarassed" border="0">
 <img src="smiles/icon_cry.gif" onclick="comment_smile(':cry:',Form.body);" alt="Crying or Very sad" border="0">
 <img src="smiles/icon_evil.gif" onclick="comment_smile(':evil:',Form.body);" alt="Evil or Very Mad" border="0">
</p></td></tr></tbody></table></center></td><td style="padding: 0px;"><textarea name="body" cols="50" rows="20">{TEXT}</textarea></td></tr>
<tr><td colspan="2" align="center"><input value="Submit Changes" class="btn" type="submit"></td></tr>
</tbody></table></center>
</form>
</div>
</td></tr>
<tr>

<td class="cat" colspan="7" valign="middle" align="center"></td>
</tr>
</tbody>
</table>

<!-- INCLUDE themes/eVo_blue/templates/over_all_right.html -->
<!-- INCLUDE themes/eVo_blue/templates/over_all_footer.html -->