<table class="tablebg" width="100%" cellspacing="0">
<tbody><tr><td>
<div class="caption">
<div class="cap-left">

<div class="cap-right">
<a class="c4" style="cursor: pointer; float: left;" onclick="toggle2('nnPolls');"><img title="Expand item" id="nnPollsimg" src="themes/eVo_blue/pics/minus.gif" alt="+"></a>Polls
</div>
</div>
</div>
</td></tr><tr valign="middle">
<td class="row3"><div id="nnPolls">
<!-- IF U_MODERATOR -->
<div align="right">
<font class="small">{L__btpolls_polls_mod}
 - [<a class="altlink" href="makepoll.php?returnto=main"><b>{L__bt_faq_new}</b></a>]
 - [<a class="altlink" href="makepoll.php?action=edit&amp;pollid={POLL_ID}&amp;returnto=main"><b>{L__btshout_edit}</b></a>]
 - [<a class="altlink" href="polls.php?action=delete&amp;pollid={POLL_ID}&amp;returnto=main"><b>{L__btshout_deleteed}</b></a>]
</font>
 </div>
 <!-- ENDIF -->
<table class='poll' align="center" border="1" cellpadding="2" cellspacing="2"><tbody><tr class='poll'><td class="poll">
<!-- IF POLL_LOCKED -->
<p class="poll_q"><b>{POLL_QUESTION}</b></p>
<!-- IF POLL_VOTED -->
<table class='poll' border="1" cellpadding="2" cellspacing="2">
<tbody>
<!-- BEGIN poll_var_answered -->
<tr class='poll'><td width="1%"><nobr>{poll_var_answered.P_ANSWER}&nbsp;&nbsp;</nobr></td><td width="99%"><img src="{SITE_URL}/images/bar_left.gif"><img src="{SITE_URL}/images/bar.gif" width="{poll_var_answered.P_IMAGE_W}" height="9"><img src="{SITE_URL}/images/bar_right.gif"> {poll_var_answered.ANSWER_VOTES}%</td></tr>
<!-- END poll_var_answered -->
</tbody></table>
<p>Votes: {POLL_VOTE_COUNT}<br>
[<a class="altlink" href="polloverview.php"><b>{L__btpolls_polls_results}</b></a>]</p>
</td></tr></tbody></table></div>
	<!-- ELSE -->
<form method="post" action="index.php"><p class='poll'>
<!-- BEGIN poll_var_no_answered -->
<input name="choice" value="{poll_var_no_answered.VALUE}" type="radio">{poll_var_no_answered.VAL_QUEST}<br>
<!-- END poll_var_no_answered -->
<br></p><div align="center"><input value="{L__btpolls_polls_vote}" class="btn" type="submit"><br>[<a href="polls.php"><b>{L__btpolls_polls_results}</b></a>]</div></form></td></tr></tbody></table></div>
    <!-- ENDIF -->
	<!-- ELSE -->
<p class='poll'>{POLL_NO_POLL}<br></td></tr></tbody></table></div>
    <!-- ENDIF -->
</td></tr>
<tr>
<td class="cat" colspan="7" valign="middle" align="center"></td>
</tr>
</tbody></table>