<!-- INCLUDE themes/eVo_blue/templates/over_all_header.html -->
<!-- INCLUDE themes/eVo_blue/templates/over_all_left.html -->
	<div id="center">
	<br>
		<table border="0" cellpadding="10" cellspacing="0" width="100%">
			<tbody>
				<tr>
					<td align="center"><a href="modrules.php?act=newsect">Add New Rules Section</a></td>
				</tr>
			</tbody>
		</table>
		<table class="tablebg" cellspacing="0" width="100%">
			<tbody>
				<tr>
					<td>
						<div class="caption">
							<div class="cap-left">
								<div class="cap-right">
									<a class="c4" style="cursor: pointer; float: left;" onclick="toggle2('nnGenral_Rules');"><img title="Expand item" id="nnGenral_Rulesimg" src="themes/eVo_blue/pics/minus.gif" alt="+"></a>Genral Rules
								</div>
							</div>
						</div>
					</td>
				</tr>
				<tr valign="middle">
					<td class="row3">
						<div id="nnGenral_Rules">
							<form method="post" action="modrules.php?act=edit&amp;id=1">
							<p>
								<span>
									<ul>
										<li> Selling your account will get you an immediate ban!<br><br> &nbsp; &nbsp;</li>
										<li> Do not defy the moderators expressed wishes!<br><br> &nbsp; &nbsp;</li>
										<li> Do not upload our torrents to other trackers! (See the FAQ for details.)<br><br> &nbsp; &nbsp;</li>
										<li> Disruptive behaviour in the forums or on the game server will result in a warning ( ).<br><br> &nbsp; &nbsp; &nbsp;You will only get one warning! After that it's bye bye Kansas!</li>
									</ul>
								</span>
							</p>
								<table border="0" cellpadding="" cellspacing="0" width="95%">
									<tbody>
										<tr>
											<td width="100%">
											</td>
										</tr>
										<tr>
											<td>
											<hr>
											</td>
											<td>
											</td>
										</tr>
										<tr>
											<td>
											<input value="1" name="id" type="hidden"><input value="Edit" type="submit">
											</td>
										</tr>
									</tbody>
								</table>
							</form>
						</div>
					</td>
				</tr>
				<tr>
					<td class="cat" colspan="7" align="center" valign="middle"></td>
				</tr>
			</tbody>
		</table>
	<br clear="all">
<!-- INCLUDE themes/eVo_blue/templates/over_all_right.html -->
<!-- INCLUDE themes/eVo_blue/templates/over_all_footer.html -->