<!-- INCLUDE themes/eVo_blue/templates/over_all_header.html -->
<!-- INCLUDE themes/eVo_blue/templates/over_all_left.html -->
<!-- IF S_ERROR -->
<meta http-equiv="refresh" content="3;url={S_FORWARD}">
<div id="errorbox" >
<span class="errorbox-title">{TITTLE_M}</span>
{MESSAGE}
</div>
<!-- ELSEIF S_SUCCESS -->
<meta http-equiv="refresh" content="3;url={S_FORWARD}">
<div id="successbox" >
<span class="successbox-title">{TITTLE_M}</span>
{MESSAGE}
</div>
<!-- ENDIF -->
<!-- INCLUDE themes/eVo_blue/templates/over_all_right.html -->
<!-- INCLUDE themes/eVo_blue/templates/over_all_footer.html -->