<table class="tablebg" width="100%" cellspacing="0">
<tbody><tr><td>
<div class="caption">
<div class="cap-left">
<div class="cap-right">
<a class="c4" style="cursor: pointer; float: left;" onclick="toggle2('nnSearch');"><img title="Expand item" id="nnSearchimg" src="themes/eVo_blue/pics/minus.gif" alt="+"></a><img src="themes/eVo_blue/pics/icon_mini_search.gif" alt="" title="" border="0">Search
</div>
</div>
</div>
</td></tr><tr valign="middle">
<td class="row3"><div id="nnSearch">
<script type="text/javascript" src="browse.js"></script>  
<form method="get" action="search.php"><br>

<div id="cats" style="display: block;">
<table>
  <tbody align="left">
    <tr>
<!-- BEGIN cats_var -->
      <td class="nopad" style="padding-bottom: 2px; padding-left: 7px;">{cats_var.IMAGE}&nbsp;&nbsp;<input id="checkAll{cats_var.ID}" onclick="checkAllFields(1,{cats_var.TABLETYPE});" type="checkbox"><a href="javascript: ShowHideMainSubCats({cats_var.TABLETYPE},{NCATS_VAR})"><img src="themes/eVo_blue/pics/plus.gif" id="pic{cats_var.ID}" alt="Show/Hide" border="0">&nbsp;{cats_var.NAME}</a>&nbsp;</td>
<!-- END cats_var -->
    </tr>
  </tbody>
</table>
</div>
<!-- BEGIN sub_cats_var -->
<!-- IF sub_cats_var.DIVSTART -->
<div id="tabletype{sub_cats_var.PARENT_ID}" style="display: none;">
  <table>
    <tbody align="left">
	  <tr>

<!-- ENDIF -->
	    <td class="subcatlink" style="padding-bottom: 2px; padding-left: 7px; width: 14.2857%;">{sub_cats_var.IMAGE}&nbsp;&nbsp;<input onclick="checkAllFields(2,{sub_cats_var.TABLETYPE});" name="cats{sub_cats_var.TABLETYPE}[]" value="{sub_cats_var.ID}" type="checkbox">{sub_cats_var.NAME}</td>
<!-- IF sub_cats_var.DIVEND -->

	    <td rowspan="4">&nbsp;</td>
	  </tr>
    </tbody>
  </table>
</div>

<!-- ENDIF -->
<!-- END sub_cats_var -->
<table align="center" border="0" cellpadding="1" cellspacing="1"><tbody><tr><td></td><td>
<input id="actb_textbox" name="search" value="" size="25" type="text"> </td><td>
{S_ACTB}
<script type="text/javascript" language="JavaScript">actb(document.getElementById("actb_textbox"),customarray);</script>
</td><td><input value="Go!" type="submit"></td></tr></tbody></table><table align="center" border="0" cellpadding="1" cellspacing="1"><tbody><tr><td><p>Order By:</p></td><td> <select name="orderby">

<option value="0" selected="selected">Date</option>
<option value="1">Seeds</option>
<option value="2">Leechers</option>
<option value="3">Total Peers</option>
<option value="4">Downloaded</option>
<option value="5">Ratings</option>
<option value="6">Name</option>
<option value="7">Size</option>
<option value="8">Number of Files</option>

</select></td>
<td><select name="ordertype"><option value="DESC">Descending</option><option value="ASC">Ascending</option></select></td><td><p><input name="incldead" value="true" type="checkbox">Include Dead Torrents</p></td></tr></tbody></table></form></div>
</td></tr>
<tr>
<td class="cat" colspan="7" valign="middle" align="center"></td>
</tr>
</tbody></table>
<br clear="all">
<br clear="all" >